ol li{
  list-style-type: none;
  height:100%;
margin:0;
padding:0;
}

.cart_list ol {
    style:none;
}
.dropbtn {
    
    color:#707070;
    padding-left: 16px;
    font-size: 16px;
    border: none;

}
.cart-title{
    border: solid 1px;
}
.dropdown {

    color:#707070;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    color:#707070;
    display: none;
    position: absolute;
    right:5px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color:#707070;
    padding: 12px;
    padding-right: 12px;
    text-decoration: none;
    display: block;
}

/*.dropdown:hover.*/

  .dropdown-content {
    display: block;
}

.dropdown-content a:hover{
    background-color: #ddd;
}

.cart_title {
    padding-left: 25px;
    border-bottom: 1px solid;

}

.button{
    margin:2px;
}




.cart_items a:hover {
    background-color: #ddd;
}








