
.items:hover{
	cursor: pointer;
}
.add{
	background-color: #ffc800;
	height: 25px;
}

.add_but{
	display: block;
color: #000;
background-color: #ffc800;
border: 1px solid #ffc800;
border-radius: 0;
cursor: pointer;
letter-spacing: 1px;
outline: 0;
outline-offset: 0;
font-size: 15px;
text-align: center;
}


.wrapper {
	margin-top: 20px;
}

.card_img{
	height: 206px;
	width: 100%;
	background-image: url('/images/first.jpeg');
	background-size: cover;
	
	border-bottom:1px solid;
	border-bottom-color:rgb(221, 221, 221); 
	
}

.back{

	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
}

.card_body{
	background-color: #F8F8F8;
}