.prof_img{
	background-color: #e9ebee;

	
}

.submit_changes {
	font:0px;

	
}
.info{
	margin-left: 30px;
	

	margin-right: 30px;
	padding: 5px; 
}

.prof_info{
	

	margin-top: 20px;

	line-height: 38px;
	border:1px solid;
	border-radius: 2px;
	
}


.prof_info label{
	
	padding: 2px;
	font-size: 15px;


}

.prof_head {
	text-align: center;
}

 .item{
	margin-top: 8px;
}

.edit{
	cursor:pointer;
}

.edit:hover{
	text-decoration: underline;
	font-size: 15px;

}