.checkout {

   

}
.checkout .title{
	padding-left: 0px;
	padding-top:150px;

}


.checkout .but_pos{
	padding-top:130px;
}

.checkout .mini_cart_logo {
	background-image: url("/images/mini_cart.png");
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: left;
    height: 188px;
    background-position-x: 99px;

background-size: 48%;

background-position-y: 110px;
}

.checkout .header{
	padding-top: 100px;
	padding-bottom: 10px;
	border-bottom: 2px solid;
	margin-bottom: 10px;
	font-size: 15px;
	font-family: tahoma;


}


.checkout .total{
	font-size:16px;
	font-family: tahoma;
}

.checkout .checkoutBut{
	
	border: 1px solid;
	border-color:615D6c;
	background-color: white;
	border-radius: 3px;
    
    padding: 12px 12px;
    text-align: center;
    
    display: inline-block;
    font-size: 15px;
    font-family: tahoma;

}

.checkout .checkoutButName{
	font-size: 15px;
}