
.pos li { cursor: pointer; }
	



.pos a {
	color: #707070;
}

.pos a:hover{
	color:#333333;
}



.selector{
	color:#707070;
}

.pos ul {
  list-style-type: none;

}

.pos li{
	float:left;
	margin:5px;
}
