.footer{
	background: #615d6c;
	color:whitesmoke;
	font-size: 14px;
	margin-top:50px;
		
}

.footer h6{
	font-size:16px;
}


.footer ul{
	color:whitesmoke;
	list-style-type:none;
}

.footer a:link{
	text-decoration: none;
	color:#81a4cd;
}



