.google_button{
	color:#fff;
	border:1px solid #fff;

	margin-bottom:10px;
	border-radius: 0;
	z-index: 1;
	width: 100%;
}
.google_button div{
	display: inline-block;
}


.register_button {
	background-color:orange;
	border:1px solid #fff;
	margin-bottom:10px;
	border-radius: 0;
	z-index: 1;
	width: 100%;
	position: center;
	margin-top: 10px;
}


.bord {
	border-right:1px solid #fff;
	margin-right: 5px;
	padding-right: 5px;
}

.log input {
	padding:5px;
	margin-bottom: 5px;
	width: 100%;
}

.user{
	 /* Fallback for older browsers without RGBA-support */
  
    opacity:0.5;
	
}

.log {
/*position: fixed;
width: 340px;
height: 280px;
*/
}

.form{
	border-radius: 5px;
    background-color: #white;
    padding: 20px;
}


