.main {
	
}


.head a, u {
    text-decoration: none;
    color:inherit;
}

.home_logo{
	
	width:800px;
	height: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
	

	
}




