.main {
	
}


.head a, u {
    text-decoration: none;
    color:inherit;
}

.home_logo{
	
	width:1000px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
	

	
}




