.main .mini_logo {

    
    background-image: url("/images/logo4.png");
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: left;
    height: 188px;
    background-position-x: 13px;
    background-size: 60%;

}

.main .bar {
	padding-top:66px;
}


.entrance {
	line-height: 50px;
}