.main .mini_logo {

   	width: 100%;
    background-image: url("/images/logo4.png");
    background-repeat: no-repeat;
    background-position: left;
        background-position-x: left;
    height: 188px;
    background-size: 131%;
    background-position-x: 13px;

}

.main .bar {
	padding-top:66px;
}


.entrance {
	line-height: 50px;
}